<div class="row">
  <div class="col-4">
    <img src="{{mounts?.picture}}" class="img-fluid" >
  </div>

<div class="col-8 text-secondary">
  <h2 class="text-dark">{{mounts?.name}},<span class="text-secondary" ><small>{{mounts?.country}}</small></span></h2>
  <p>{{mounts?.description}}</p>
  <p>Elevation: {{mounts?.base_elevation_m}}, Higest point: {{mounts?.highest_point}}, Top Elevation: {{mounts?.top_elevation_m}}</p>
</div>
</div>
<div class="row">
  <div class="col">
    <ngb-tabset justify="justified">
      <ngb-tab title="Tracks">
        <ng-template ngbTabContent>
        <ski-tracks [nesto]='tracks' (sortBy)='changeSort($event)'></ski-tracks>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Weather">
          <ng-template ngbTabContent>
            <ski-weather [vreme]='weathers'></ski-weather>
          </ng-template>
        </ngb-tab>
      <ngb-tab title="Ski pass">
        <ng-template ngbTabContent>
          <ski-ski-pass [skipass]='skipasses'></ski-ski-pass>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>